@tailwind base;
@tailwind components;
@tailwind utilities;

                    swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
                      width: unset !important;
                    }

                    .my-swiper-container .swiper-pagination .swiper-pagination-bullet {
                    background-color: #148F7C;
                    width: 48px;
                    height: 4px;
                    border-radius: 0px !important;
                    }
                    .swiper-pagination {
                    position: absolute;
                    bottom: 1rem;
                    left: 30px !important;
                    margin-top: -70px;
                    }

                    .swiper-pagination .swiper-pagination-bullet-active {
                      background: var(--primary);
                    }

/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
